<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aly8246.collectionexample.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.github.aly8246.collectionexample.pojo.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <resultMap id="UserResultMap" extends="BaseResultMap" type="com.github.aly8246.collectionexample.pojo.vo.UserVo">
        <collection property="phoneList" columnPrefix="phone_"
                    ofType="com.github.aly8246.collectionexample.pojo.vo.PhoneVo">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
        </collection>
    </resultMap>
    <select id="selectAllUserByN" resultMap="UserResultMap">
        select user.*
             , p.id   as phone_id
             , p.name as phone_name
        from user
                 left join phone p on user.id = p.user_id
    </select>
    <select id="selectUserById" resultMap="UserResultMap">
        select user.*
        , p.id as phone_id
        , p.name as phone_name
        from user
        left join phone p on user.id = p.user_id
        <where>
            <if test="userId != null and userId != ''">
                user.id=#{userId}
            </if>
        </where>
    </select>
    <select id="selectAllUser" resultMap="UserResultMap">
        select user.*
             , p.id   as phone_id
             , p.name as phone_name
        from user
                 LEFT JOIN phone p on user.id = p.user_id
    </select>
    <select id="selectAllUserMP" resultMap="UserResultMap">
        select user.*
             , p.id   as phone_id
             , p.name as phone_name
        from user
                 LEFT JOIN phone p on user.id = p.user_id
    </select>
</mapper>